<h1>Welcome To Amazon</h1>
<br>
<ul>
  <li>Items</li>
    <ul>
      <% @items.each do |item| %>
        <li><%= link_to "#{item.name}", item_url(item.id) %> | $<%= item.price %> | 
          <%= link_to "Edit", edit_item_url(item.id) %> | 
          <%= link_to "Delete Item", item_url(item.id), :method => :delete, :confirm => "Are you sure?" %> | 
          <%= link_to "Add to Cart",  carts_url%>
        </li>
      <% end %>
    </ul>
</ul>
<%= link_to "Add a New Item", new_item_url %>
