<h1><%= @item.name %></h1>
<h2>Price: <%= @item.price %></h2>
<p><%= link_to "Edit Item", edit_item_url(@item.id) %></p>
<p><%= link_to "Delete Item", item_url(@item.id), :method => :delete, :confirm => "Are you certain?" %></p>
<p><%= link_to "Add to Cart", cart_url(@item.name), :method => :put %></p>  <!-- Sending @item.name instead of @item.id distinguishes "Add to Cart" request from "Update Quantity": See update method in cart_controller -->
<br>
<%= link_to "Return", items_url%>